* {
    padding: 0;
    box-sizing: border-box;
}

.imagen-fondo {
  background-image:
    linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
    url("../../assets/img/Fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-card {
  height: 180px;        /* altura máxima */
  object-fit: contain; /* o cover */
}

.tab-content {
    min-height: 300px;
}
